<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="hyumob_floating">
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey_">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.4235294117647059 0.0392156862745098 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.8705882352941177 0.8117647058823529 0.7647058823529411 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="metal">
    <color rgba="0.768627450980392 0.749019607843137 0.729411764705882 1"/>
  </material>
  <material name="metal_grey">
    <color rgba="0.501960784313725 0.501960784313725 0.501960784313725 1"/>
  </material>
  <material name="metal_white">
    <color rgba="0.866666666666667 0.866666666666667 0.890196078431373 1"/>
  </material>
  
  <!-- Mobile HYUMob -->
  <link name="world">
      <inertial>
          <mass value="0" />
          <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
  </link>
   <joint name="base_world" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.02314163 0 0.14646583"
        rpy="0 0 0" />
      <mass
        value="53.53736408" />
      <inertia
        ixx="1.81165434"
        ixy="0.01131605"
        ixz="0.08235226"
        iyy="4.92583072"
        iyz="0.00000413"
        izz="6.44882489" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/stl/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/stl/base_link.STL" />
      </geometry>
    </collision>
  </link>  
</robot>
